*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header top */
.header-top{
  border-bottom: 1px solid #33475B;
  font-size: 0;
  width: 100%;
  background-color: #e9f0f6;
  position: fixed;
  top: 0;
  z-index: 2;
}

.container{
  padding: 10px 0;
  width: 80%;
  margin: auto;
}

.container::after{
  clear: both;
  display: table;
  content: '';
}

.header-top .language:first-child{
  padding: 0 10px 0 0;
  border-right: 1px solid #33475B;
}

.language{
  padding: 0 0 0 10px;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
}

 a{
  text-decoration: none;
  color: #33475B;
}

aside.left{
  float: left;
}

aside.right{
  float: right;
}

.button{
  padding: 10px;
  border: 1px solid #fe7b5c;
  border-radius: 5px;
  color: #fe7b5c;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}

.button.login{
  margin-right: 10px;
}

.button.free{
  background-color: #fe7b5c;
  color: white;
}
/* /header top */

/* header bottom */
.header-bottom{
  padding: 12vh 0 0 0;
}

.navigator{
  padding-bottom: 20px;
}

.navigator::after{
  clear: both;
  content: '';
  display: table;
}

.header-bottom img{
  float: left;
  line-height: 30px;
}

.header-bottom nav{
  float: right;
  line-height: 30px;
}

nav > ul > li{
  list-style: none;
  display: inline-block;
}
nav > ul > li:not(:last-child){
  padding-right: 30px;
}
nav > ul > li > a > i{
  padding-left: 15px;
  font-size: 12px;
}

.background{
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.background::after{
  content: '';
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 5px solid #33475B;
  border-bottom: 5px solid #33475B;
  background: #56e1e6;
}

.content{
  clear: both;
  padding: 60px 0 320px 0;
  width: 40%;
}

.content h1{
  font-size: 45px;
}

.content p{
  padding: 20px 0;
}

.content p:nth-child(4){
  font-size: 12px;
}
/* /header bottom */


main{
  background-color: #e6f3ff;
  color: #33475B;
}

/* prima section (descrizione) */
.description{
  width: 60%;
  margin: auto;
  text-align: center;

}

.description img{
  width: 20%;
  padding-top: 20px;
}

.description p{
  padding: 20px 0 40px;
}
/* /prima section (descrizione) */

/* seconda section (box CRM) */
.feature{
  padding: 40px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.feature::after{
  clear: both;
  content: '';
  display: table;
}

.img-button{
  width: 20%;
  text-align: center;
  margin-right: 10%;
  float: left;
}

.img-button img{
  width: 70%;
  padding-bottom: 25px;
}

.popular{
  float: left;
  width: 60%;
  font-size: 0;
}

.popular h2{
  font-size: 20px;
}

.popular p{
  padding: 10px 0 20px;
  font-size: 14px;
}

.popular h3{
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  width: 45%
}

hr{
  display: inline-block;
  vertical-align: middle;
  width: 55%;
}

.popular ul > li{
  font-size: 14px;
  list-style: none;
  display: inline-block;
  padding: 20px 20px 20px 0;
}

.spec-orange{
  color: #fe7b5c;
}
/* /seconda section (box CRM) */

/* terza section (3 colonne hub) */
.hub{
  padding: 30px 0;
}

.hub::after{
  clear: both;
  content: '';
  display: table;
}

.hub .marketing, .hub .sales, .hub .service{
  width: 30%;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  text-align: center;
  float: left;
}

.hub .sales{
  margin: 0 5%;
}

.marketing img{
  width: 40%;
}
.service img{
  width: 36%;
}
.sales img{
  width: 50%;
}

.marketing p, .sales p, .service p{
  padding: 15px 0 30px;
  border-bottom: 1px solid #33475B;
}

.marketing h4, .sales h4, .service h4{
  padding: 25px 0 15px;
}

.marketing ul, .sales ul, .service ul{
  padding-bottom: 15px;
}

.marketing li, .sales li, .service li{
  list-style: none;
  text-align: left;
}

.marketing li > i, .sales li > i, .service li > i{
  padding-right: 5px;
}
/* /terza section (3 colonne hub) */

/* quarta section (azzurra) */
.azzurra{
  width: 100%;
  color: white;
  background-image: linear-gradient(to right, #00A6BB, #00B4AD);
}

.data{
  padding: 30px 0 60px;

}

.data h3{
  padding: 0 30px 20px 0;
  text-align: center;
}

.data p{
  text-align: center;
}

.data::after{
  clear: both;
  content: '';
  display: table;
}

.data .info{
  padding: 20px 50px 20px 50px;
  text-align: center;
  width: calc(100% / 4);
  border-right: 1px solid white;
  float: left;
}
.data .info.first-row{
  margin-top: 50px;
  border-bottom: 1px solid white;
}
.data .info:nth-of-type(4n+4){
  border-right: 0;
}

.data .number{
  padding: 10px 0;
  font-size: 28px;
  font-weight: bold;
}
.data .number i{
  font-size: 10px;
  vertical-align: top;
  line-height: 32px;
}
