*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* header top */
.header-top{
  border-bottom: 1px solid #33475B;
  font-size: 0;
  width: 100%;
  background-color: #e9f0f6;
  position: fixed;
  top: 0;
  z-index: 2;
}

.container{
  padding: 10px 0;
  width: 80%;
  margin: auto;
}

.container::after{
  clear: both;
  display: table;
  content: '';
}

.header-top .language:first-child{
  padding: 0 10px 0 0;
  border-right: 1px solid #33475B;
}

.header-top .language{
  padding: 10px 0 10px 10px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
}

 a{
  text-decoration: none;
  color: #33475B;
}

a:hover, .column a:hover, .social a:hover, .legal-privacy a:hover, .version a:hover{
  color: #7FD1C3;
  text-decoration: underline;
}

aside.left{
  float: left;
}

aside.right{
  float: right;
}

.button{
  padding: 10px;
  border: 1px solid #fe7b5c;
  border-radius: 5px;
  color: #fe7b5c;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}

.button.login{
  margin-right: 10px;
  background: white;
}

.button.login:hover{
  color: #FFBCAC;
  border: 1px solid #FFBCAC;
  text-decoration: none;
}

.button.free{
  background-color: #fe7b5c;
  color: white;
  text-decoration: none;
}

.button.free:hover{
  background-color: #FFBCAC;
  border: 1px solid #FFBCAC;
  color: white;
}
/* /header top */

/* header bottom */
.header-bottom{
  padding: 12vh 0 0 0;
}

.navigator{
  padding-bottom: 20px;
}

.navigator::after{
  clear: both;
  content: '';
  display: table;
}

.header-bottom img{
  float: left;
  line-height: 30px;
}

.header-bottom nav{
  float: right;
  line-height: 30px;
}

nav > ul > li{
  list-style: none;
  display: inline-block;
}
nav > ul > li:not(:last-child){
  padding-right: 30px;
}
nav > ul > li > a > i{
  padding-left: 15px;
  font-size: 12px;
}

.background{
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  background-position: right;
  position: relative;
  z-index: 1;
}

.background::after{
  content: '';
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 5px solid #33475B;
  border-bottom: 5px solid #33475B;
  background: #56e1e6;
}

.content{
  clear: both;
  padding: 60px 0 320px 0;
  width: 40%;
}

.content h1{
  font-size: 45px;
}

.content p{
  padding: 20px 0;
}

.content p:nth-child(4){
  font-size: 12px;
}
/* /header bottom */

main{
  background-color: #e6f3ff;
  color: #33475B;
}

/* prima section (descrizione) */
.description{
  width: 60%;
  margin: auto;
  text-align: center;
}

.description img{
  width: 20%;
  padding-top: 20px;
}

.description p{
  padding: 20px 0 40px;
}
/* /prima section (descrizione) */

/* seconda section (box CRM) */
.feature{
  padding: 40px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.feature::after{
  clear: both;
  content: '';
  display: table;
}

.img-button{
  width: 20%;
  text-align: center;
  margin-right: 10%;
  float: left;
}

.img-button img{
  width: 70%;
  padding-bottom: 25px;
}

.popular{
  float: left;
  width: 60%;
  font-size: 0;
}

.popular h2{
  font-size: 20px;
}

.popular p{
  padding: 10px 0 20px;
  font-size: 14px;
}

.popular h3{
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  width: 45%
}

hr{
  display: inline-block;
  vertical-align: middle;
  width: 55%;
}

.popular ul > li{
  font-size: 14px;
  list-style: none;
  display: inline-block;
  padding: 20px 20px 20px 0;
}

.spec-orange{
  color: #fe7b5c;
}
/* /seconda section (box CRM) */

/* terza section (3 colonne hub) */
.hub{
  padding: 30px 0;
}

.hub::after{
  clear: both;
  content: '';
  display: table;
}

.hub .marketing, .hub .sales, .hub .service{
  width: 30%;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  text-align: center;
  float: left;
}

.hub .sales{
  margin: 0 5%;
}

.marketing img{
  width: 40%;
}
.service img{
  width: 36%;
}
.sales img{
  width: 50%;
}

.hub p{
  padding: 15px 0 30px;
  border-bottom: 1px solid #33475B;
}

.hub h4{
  padding: 25px 0 15px;
}

.hub ul{
  padding-bottom: 15px;
}

.hub ul > li{
  list-style: none;
  text-align: left;
}

.hub ul > li > i{
  padding-right: 5px;
}
/* /terza section (3 colonne hub) */

/* quarta section (box azzurro) */
.azzurra{
  width: 100%;
  color: white;
  background-image: linear-gradient(to right, #00A6BB, #00B4AD);
}

.data{
  padding: 40px 0;
}

.data h3{
  padding: 0 30px 20px 0;
  text-align: center;
}

.data p{
  text-align: center;
}

.data::after{
  clear: both;
  content: '';
  display: table;
}

.data .info{
  text-align: center;
  width: calc(100% / 4);
  height: 150px;
  border-right: 1px solid white;
  position: relative;
  float: left;
}
.data .info.first-row{
  margin-top: 40px;
  border-bottom: 1px solid white;
}
.data .info:nth-of-type(4n+4){
  border-right: 1px solid transparent;
}

.position{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.position img.different{
  height: 33px;
}

.data .number{
  padding: 10px 0;
  font-size: 28px;
  font-weight: bold;
}
.data .number i{
  font-size: 10px;
  vertical-align: top;
  line-height: 32px;
}
.data .text{
  font-size: 14px;
}
/* /quarta section (box azzurro) */

/* quinta section (reference) */
.reference{
  background: white;
  padding-top: 60px;
}

.alternative-container{
  width: 70%;
  margin: auto;
}

.alternative-container::after{
  clear: both;
  content: '';
  display: table;
}

.num-customers{
  width: 30%;
  font-size: 18px;
  float: left;
}

.num-customers h2{
  font-size: 36px;
  margin-bottom: 10px;
}

.logo-customers{
  width: 60%;
  float: right;
  font-size: 0;
}

.logo-customers img{
  width: calc(100% / 4 - 20px);
  margin: 0 10px 10px 10px;
  vertical-align: middle;
}

.box::after{
  clear: both;
  content: '';
  display: table;
}

.free-tools{
  width: 40%;
  padding-top: 100px;
  float: left;
}
.free-tools h2{
  font-size: 32px;
}
.free-tools p{
  margin: 30px 0 20px 0;
}
.free-tools p:nth-of-type(2){
  font-size: 12px;
}

.img-woman{
  width: 25%;
  padding-top: 50px;
  float: right;
}

.img-woman img{
  width: 100%;
}
/* /quinta section (reference) */

/* footer */
footer{
  padding: 25px 0;
  font-size: 12px;
  color: white;
  background: #2D3E50;
}

.container::after{
  clear: both;
  content: '';
  display: table;
}

.column{
  float: left;
  width: calc(100% / 4 - 80px);
  margin-right: 80px;
  margin-bottom: 60px;
}

footer h3{
  padding-bottom: 25px;
}

footer ul li{
  list-style: none;
  padding-bottom: 20px;
}

.column a{
  color: white;
}

.column > .support{
  text-decoration: none;
  color: #2D3E50;
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 5px;
  margin-bottom: 15px;
}

.column > .support:hover{
  background-color: #7FD1C3;
  color: #2D3E50;
  text-decoration: none;
}

.social a{
    margin-right: 20px;
}
.social i{
  font-size: 16px;
}

.version{
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.version a{
  display: inline-block;
  margin-right: 20px;
  color: white;
}

.copyright{
  padding-top: 25px;
  float: left;
}

.copyright img{
  display: block;
  margin-bottom: 5px;
  height: 30px;
}

.legal-privacy{
  float: right;
  padding-top: 25px;
}

.legal-privacy a{
  color: white;
  vertical-align: top;
  line-height: 30px;
}

.legal-privacy a:first-child{
  margin-right: 25px;
}
/* /footer */
